<style type="text/css">
<!--
.Estilo1 {
	color: #0033FF;
	font-weight: bold;
}
.Estilo3 {
	font-size: 24px;
	color: #996633;
}
.Estilo5 {color: #0033FF; font-weight: bold; font-size: 10px; }
.Estilo6 {
	color: #FF0000;
	font-size: 14px;
}
-->
</style>
<div class="wrap"> 
<form method="post" action="" id="checkearlinks">
<p>&nbsp;</p>
<table width="600" border="1" cellspacing="1" cellpadding="1">
  <tr>
    <th colspan="3" scope="col"><span class="Estilo3">Plugin Control de Enlaces </span></th>
    </tr>
  <tr>
    <td><strong>Email</strong>:</td>
    <td><input type='text' id='email'  name='email' value='' />
      <span class="Estilo5">Correo del Webmaster del Intercambio (No necesario) </span></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><strong>Url:</strong></td>
    <td><input  name='url' type='text' id='url' value='' size="60" maxlength="100" />      
      <span class="Estilo5">Poner <span class="Estilo6">http//</span> Url de Intercambio </span></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type='submit' name='Input' value='Guardar' />
      <input type='submit' name='Input2' value='Chequear' /></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3"><p class="Estilo1">Boton Guardar: Guarda la Url.</p>
      <p class="Estilo1">Botón Chequear: Chequea los enlaces de Intercambio, Url debe de estar vacío. </p></td>
    </tr>
</table>
<p>&nbsp;</p>
</form>
</div>